*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 74px;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #bbbea6;
}

.btn-offer {
  display: inline-block;
  position: relative;
  left: 50%;
  margin-top: 15px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #bbbea6;
  transition: 0.6s;
}

.btn-offer:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #40513B;
}

nav {
  text-transform: uppercase;
  transition: 0.6s;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}
nav .navbar-toggler {
  padding: 10px 15px;
}
nav .navbar-brand {
  font-weight: bold;
}
nav .nav-link,
nav .navbar-nav .show > .nav-link,
nav .navbar-brand,
nav .fa-bars {
  color: #bbbea6;
}
nav .nav-link:focus,
nav .nav-link:hover,
nav .navbar-nav .nav-link.active,
nav .navbar-nav .show > .nav-link,
nav .navbar-brand:focus,
nav .navbar-brand:hover {
  color: #609966;
}

header.hero-img {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 0;
  color: #bbbea6;
}
header.hero-img h1 {
  text-transform: uppercase;
  font-weight: bold;
}
header.hero-img .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -5;
}
header.hero-img .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin-left: 10vw;
}
header.hero-img .fa-chevron-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  font-size: 30px;
  color: white;
}
header.hero-img .btn {
  background-color: rgba(0, 0, 0, 0.8);
  color: #bbbea6;
  transition: 0.8s;
}
header.hero-img .btn:hover {
  background-color: #bbbea6;
  color: #40513B;
  border-color: #40513B;
}

.opinions {
  position: relative;
  margin-top: 4px;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.opinions .opinions-bg {
  width: 100vw;
  background-image: url(../img/home/opinions/opinions-bg.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 0;
  color: #bbbea6;
}
.opinions .opinions-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -5;
}
.opinions img {
  margin-top: 20px;
  font-size: 30px;
  width: 100%;
  border-radius: 15px;
}
.opinions p {
  color: #bbbea6;
  font-weight: bold;
}
.opinions h2 {
  color: #bbbea6;
  font-weight: bold;
}
.opinions .fa-chevron-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  font-size: 30px;
  color: #bbbea6;
}
.opinions .underline {
  margin: 0px auto 10px;
  width: 200px;
  height: 4px;
  background-color: #bbbea6;
}

.aboutus {
  background-color: #bbbea6;
}
.aboutus h2 {
  color: #40513B;
  font-weight: bold;
}
.aboutus h3 {
  color: #40513B;
  padding-top: 15px;
}
.aboutus p {
  color: #212121;
  font-weight: 400;
}
.aboutus img {
  margin-top: 5px;
  padding: 0 5px;
  width: 100%;
  border-radius: 15px;
}
.aboutus .aboutus-card-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #bbbea6;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
  color: #bbbea6;
}
.aboutus .aboutus-below-img {
  padding: 10px;
  border-radius: 10px;
  background-color: #40513B;
}
.aboutus .underline {
  margin-bottom: 10px;
  background-color: #40513B;
  width: 60px;
  height: 3px;
}

.offer h2 {
  text-align: center;
  text-transform: uppercase;
  color: #40513B;
}
.offer p {
  padding: 0 5px;
}
.offer img {
  margin-top: 5px;
  width: 100%;
  border-radius: 15px;
  background-size: cover;
}
.offer .underline {
  margin-bottom: 10px;
  width: 60px;
  height: 3px;
  background-color: #40513B;
}

.rooms h2 {
  text-align: center;
  text-transform: uppercase;
  color: #40513B;
  padding-top: 10px;
}
.rooms h3 {
  text-align: center;
  color: #40513B;
  padding-top: 15px;
}
.rooms p {
  padding: 0 10px;
}
.rooms img {
  margin-top: 15px;
  width: 100%;
  border-radius: 15px;
  background-size: cover;
}
.rooms .carousel-control-next-icon {
  padding: 25px;
}
.rooms .carousel-control-prev-icon {
  padding: 25px;
}
.rooms .underline {
  margin-bottom: 10px;
  height: 3px;
}

ul {
  padding: 5px 15px;
  text-align: center;
  list-style: none;
}
ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
ul i {
  font-size: 20px;
  margin-right: 10px;
}
ul .list-text {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

.neighborhood .time-icon {
  padding: 10px;
}
.neighborhood .neighborhood-text h2 {
  color: #40513B;
  padding-top: 10px;
  font-weight: bold;
}
.neighborhood .neighborhood-text h3 {
  font-weight: bold;
  text-align: center;
  color: #40513B;
  padding-top: 15px;
}
.neighborhood .neighborhood-text i {
  text-align: center;
  color: #40513B;
  padding: 0 5px;
}
.neighborhood .neighborhood-text p {
  margin: 10px;
}
.neighborhood .neighborhood-text span {
  font-weight: bold;
}
.neighborhood .neighborhood-text .underline {
  margin-bottom: 20px;
}
.neighborhood #buttonContainer img {
  padding: 25px 25px 25px;
  cursor: pointer;
  transition: transform 0.2s;
}
.neighborhood #buttonContainer img:hover {
  transform: scale(1.1);
}

.contact h1 {
  font-weight: bold;
}
.contact .underline {
  background-color: #bbbea6;
}
.contact .contact-info {
  font-size: 16px;
  margin: 20px 0;
}
.contact .contact-info p {
  margin: 10px 0;
}
.contact .contact-info a {
  color: #bbbea6;
  text-decoration: none;
}
.contact .contact-info p:hover a {
  color: #40513B;
  font-weight: bold;
}
.contact .contact-info i {
  margin-right: 10px;
}

@media (min-width: 768px) {
  nav {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .hero-text h1 {
    font-size: 42px;
  }
  .hero-text p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  nav {
    background-color: transparent;
  }
  html {
    scroll-padding-top: 72px;
  }
  .offer img {
    margin-top: 25px;
  }
  .offer p {
    padding-top: 10px;
  }
}/*# sourceMappingURL=style.css.map */